.account-main-div {
  min-height: 80vh;
  background: linear-gradient(90deg, white, #f3f3f3, #f7f7f7);
  margin: 4vh 20vw;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 10px #c0c0c0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.user-title {
  margin: 2.5rem 0;
  color: #9c9494;
  text-align: center;
}

.order-data-title {
  margin-bottom: 3rem;
  color: #9c9494;
  text-align: center;
}

.responsive-table li {
  border-radius: 3px;
  padding: 20px ;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-align: center;
}
.table-header {
  background-color: #9c9494;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  box-shadow: 2px 2px 9px 2px #c0c0c0;
  color: white;
  font-weight: 900;
  font-size: 110%;

}
.table-row {
  background-color: #ffffff;
  box-shadow: 2px 2px 9px 2px #c0c0c0;
  display: flex;
  align-items: center;
}
.col {
  width: 25%;
  padding: 0px 1rem;
}
.col-1 {
  word-break: break-all;
}

.col-3 {
  width: 15%;
}
.col-4 {
  width: 15%;
}
/*  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  } */

.logout-button {
  width: 7rem;
  height: 2.5rem;
  background-color: rgb(223, 24, 24);
  color: whitesmoke;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 2rem 0;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-table {
  border-collapse: collapse;
  margin-bottom: 25px;
  font-size: 0.9em;
  min-width: 150%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.checkout-table thead tr {
  background-color: #201c1d;
  color: #ffffff;
  text-align: left;
}

.checkout-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}
.checkout-image {
  width: 50px;
  height: 50px;
}
.checkout-card-th,
.checkout-card-td {
  padding: 12px 15px;
}
.checkoutpage {
  padding-top: 1rem;
  min-height: 80vh;
  background: linear-gradient(175deg, #f3f3f3, #f3f3f3, #9c9494 150%);
  margin: 4vh 20vw;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 10px #c0c0c0;
  justify-content: space-between;
}

.checkout-title {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  color: #9c9494;
  font-size: 250%;
}
.empty-cart {
  margin-top: 2rem;
}
.checkout-div {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkout-login-disclaimer{
  text-align: center;
  color:#9c9494 ;
}
.total-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 0 10px;
}
.checkout-button-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.checkout-button {
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  background-color: rgb(32, 28, 29, 255);
  color: white;
  cursor: pointer;
}
.login-div{
  background-color: rgba(255, 255, 255, 0.934);
  margin: 4vh 30vw;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 10px #c0c0c0;
}
@media only screen and (max-width: 800px) {
  .account-main-div {
    margin: 4vh 2vw;

    height: fit-content;
  }
  .checkoutpage {
    margin: 4vh 2vw;
  }
  .user-title {
    font-size: 110%;
    padding: 1rem;
    margin: 0;
  }
  .responsive-table li {
    padding: 0px;
  }
  .table-header{
    margin: 10px;
  }
  .table-row{
    margin: 10px;
  }
.col-4{
  width: 30%;
}
.col{
  padding: 0;
}
  .checkout-table {
    border-collapse: collapse;
    font-size: 0.75em;
    max-width: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .checkout-card-th,
  .checkout-card-td {
    padding: 12px 3px;
  }
  .login-div{
    margin: 4vh 7.5vw;
  }
}
